/*Root*/
:root{
    --fed-blue: #020659;
    --navy: #020873;
    --marine: #030a8c;
    --dodger: #0d8dfb;
    --chrysler: #2104d9;
    --blue: #2699fb;
    --tyrian: #590242;

    --fonts: Verdana, 'Geneva', Tahoma, sans-serif; 
}

/*Whole Document and Multi Selectors*/
html{
    background-color: var(--fed-blue);
}

/*Header*/


/*Body*/
body{
    margin: 0 auto;
    
}

/*Footer*/