/*Root*/
:root{
    --fed-blue: #020659;
    --navy: #020873;
    --marine: #030a8c;
    --dodger: #0d8dfb;
    --chrysler: #2104d9;
    --blue: #2699fb;
    --tyrian: #590242;

    --fonts: Verdana, Geneva, Tahoma, sans-serif; 
}

/*Whole Document*/
html{
    background-color: var(--fed-blue);
    font-family: var(--fonts);
}
header, main, footer{
    margin: 0 auto;
    align-content: center;
    width: 80%;
}

/*Header*/
header{
    color: white;
}
nav{
    background-color: var(--marine);
    top: 0;
}

nav ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: .5rem;
}

nav a{
    text-decoration: none;
    display: block;
    padding: 1.2rem;
    color: white;
}

nav a:hover{
    background-color: var(--tyrian);
}


/*Main*/
main{
    background-color: white;
}

/*Footer*/


/*Media Queries and Provided Code*/
