/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------------Root--------------------*/
:root{
    --fed-blue: #020659;
    --navy: #020873;
    --marine: #030a8c;
    --dodger: #0d8dfb;
    --chrysler: #2104d9;
    --blue: #2699fb;
    --tyrian: #590242;

    --fonts: Verdana, Geneva, Tahoma, sans-serif; 
}

/*--------------------Whole Document--------------------*/
html{
    background-color: var(--fed-blue);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header, nav, main, footer{
    margin: 0 auto;
    align-content: center;
    width: 375px;
    line-height: 1.35em;
}

h1{
    font-weight: bold;
    font-size: 1.25em;
    padding: .5rem;
}

h2, h3{
    font-weight: bold;
    font-size: 1em;
    padding: 0 .5rem;
}

h2{
    color: var(--tyrian);
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 1.75rem;
}

p, dt, dd{
    font-size: 1em;
    padding: .2rem;
}

/*--------------------Header--------------------*/

#switch{
    display: flex;
    flex-direction: column-reverse;
}

header{
    color: white;
    background-color: var(--chrysler);
    background-image: linear-gradient(to right, var(--chrysler), black);
    padding: 0.35em 0 1.2em
}

header h1{
    text-transform: uppercase;
    padding: 0.35em 1.5em;
}

header p{
    padding: 0.35em 1.75em;
}

nav{
    background-color: var(--marine);
    display: flex;
    flex-direction: row;
    padding: 0 0 1.5rem;
}

ul li:nth-of-type(2), ul li:nth-of-type(3), ul li:nth-of-type(4){
    text-transform: uppercase;
}

nav img{
    position: relative;
    top: -10px;
}

nav h2{
    display: none;
}

nav a{
    text-decoration: none;
    display: block;
    height: 42px;
    padding: 1.2rem;
    color: white;
}

nav a:hover{
    background: var(--tyrian);
    display: block;
    overflow: hidden;
}

ul li:first-of-type{
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1.5em;
    position: relative;
}


/*--------------------Main--------------------*/
main, footer{
    background-color: white;
    margin: 0 auto;
}

img{
    padding: 10px;
}

audio{
    position: relative;
    left: 15px;
    bottom: 215px;
}

.more{
    background-color: var(--tyrian);
    color: #ffffff;
    display: block;
    padding: 0.7rem;
    width: 150px;
    border-radius: 4px;
    text-align: center;
    margin: 0.7rem 2.25em;
}

#trending{
    padding: 1.25rem 0;
}

#trending h2{
    position: relative;
    top: 15px;
}

#trending h3{
    color: var(--tyrian);
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    left: -5px;
}

#trending dt{
    font-style: italic;
}

#trending .scroll{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 350px;
    align-items: center;
}

#trending section div{
    position: relative;
    top: 321px;
    left: 10px;
    padding: 5px 15px;
    background-color: rgb(240, 240, 240, .7);
    width: 281px;
}

#trending dl{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#trending dt, #trending dd{
    color: var(--tyrian);
}

#lists{
    padding: 1rem 0;
}

#playlists dl, #playlists img{
    background-color: var(--dodger);
    display: block;
    text-align: center;
}

#curated .scroll{
    background-color: var(--marine);
}

#playlists .scroll{
    background-color: var(--blue);
}

#curated dl, #curated img{
    background-color: var(--navy);
    display: block;
    text-align: center;
}

/*--------------------Footer--------------------*/


/*--------------------Media Queries and Provided Code--------------------*/

audio::-webkit-media-controls-mute-button {
    color: #000;
    background-color: #ffffff;
    border-radius: 50%;
    position: relative;
}
audio::-webkit-media-controls-play-button {
    color: #000;
    background-color: #ffffff;
    border-radius: 50%;
    position: relative;
}
audio::-webkit-media-controls-enclosure {
    background-color: rgb(240, 240, 240, .7);
}


#trending ::-webkit-scrollbar {

}
#trending ::-webkit-scrollbar-track {

}
#trending ::-webkit-scrollbar-thumb {

}
#trending ::-webkit-scrollbar-thumb:hover {

}
#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {

}
#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {

}
#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {

}
#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {

}

ul {
    overflow: hidden;
    max-height: 0;
    padding: 0 0 1rem;
    transition: max-height .2s ease-out;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    z-index: 1;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

@media screen and (min-width:834px) {
    header, nav, main, footer{
        margin: 0 auto;
        align-content: center;
        width: 834px;
    }
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        width: 834px;
        align-items: start;
        justify-items: center;
        text-align: center;
    }
    label span, input {
        display: none;
    }

    nav{
        padding: 0 0 1.45rem;
    }  

    #playlists .scroll section, #curated .scroll section{
        display: grid;
        grid-template-columns: 1fr 6fr;
        padding: .5rem;
        grid-template-rows: 1fr;
    }
    #lists{
        display:grid;
        grid-template-columns: 1fr 1fr;
    } 
    nav a:nth-of-type(5){
        padding: 0 1.2rem;
    }
}

@media screen and (max-width:834px){
    ul{
        padding: 0 0 1rem;
    }

    ul li:first-of-type{
        font-variant: small-caps;
        font-weight: bold;
        position: absolute;
        z-index: 2;
    }

    ul li:nth-of-type(2), ul li:nth-of-type(3), ul li:nth-of-type(4), ul li:nth-of-type(5){
        position: relative;
        top: 65px;
    }

    nav a img {
        position: relative;
        top: -20px;
    }

    #playlists{
        padding: 0 0 .75rem;
    }

    #curated{
        padding: .5rem 0 0;
    }
    
    #playlists .scroll, #curated .scroll{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        column-gap: 15px;
        padding: 1rem;
    }

    #playlists dl, #playlists img{
        display: flex;
        flex-direction: column;
    }

    #curated dl, #curated img, #playlists dl, #playlists img{
        height: 118px;
    }
}
